.container{
    max-width: 400px;
    height: 400px;
    margin: auto;
    // padding: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: burlywood;
}
h1{
    text-align: center;
    padding: 10px;
}
button.btn.btn-danger.align-right {
    margin: 20px;
    width: 100px;
    margin-left: 30px;
}
button.btn.btn-primary {
    margin-top: 22px;
    width: 130px;
}
input#email {
    margin-bottom: 25px;
}
input#password {
    margin-bottom: 10px;
}