.container{
    margin: 0 auto;
    margin-top: 20px;
}
.form-horizontal{
    padding: 0px 0 0 150px;
}
h1{
    text-align: center;
    padding: 10px;
}
input{
    width: 50%;
    align-items: center;
}