.container{
    max-width: 370px;
    height: 410px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background-color: darksalmon;
}
h1{
    text-align: center;
    // margin-top: 95px;
}
button.btn.btn-primary.align-right {
    margin: 10px;
    margin-left: 30px;
    width: 111px;
}
.row.top-10 {
    padding: 160px;
}
input{
    margin-bottom: 10px;
}